@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
:root {
  --colorwhite: #fff;
  --colorblack: #333333;
  --colorblue: #1a76d2;
  --colorbluedar: #184e78;
  --colorgreen: #00bf7a;
  --colorred: #cc6849;
  --coloryellow: #eebf47;
  --bg-ligt: #f9f9f9;
  --off-black: #515962;
  --off-black-v2: #c8c6c7;
}
* {
  margin: 0;
  padding: 0;
}

.bg-green {
  background: var(--colorgreen) !important;
}

.bg-blue {
  background: var(--colorblue) !important;
}

.bg-red {
  background: var(--colorred) !important;
}

.bg-yellow {
  background: var(--coloryellow) !important;
}

.color-white {
  color: var(--colorwhite) !important;
}

.bg-black {
  background: #000 !important;
}
.border-none {
  border: none !important;
}
.btn-forlease {
  background: #184e78 !important;
}
.btn-forsale {
  background: #d8631c !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

#headerbackID {
  background: var(--colorwhite);
  z-index: 999;
}

#tristate-input {
  width: 100% !important;
}

div#filter-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 90px;
}

#filter-wrapper .MuiBox-root .property-filter,
.filter-wrapper .MuiBox-root {
  display: flex;
  gap: 15px;
  row-gap: 30px;
}
#propertylisting-content {
  justify-content: space-between;
}
#filter-wrapper .Filterform .MuiBox-root {
  gap: 8px;
  padding: 5px;
}

.MuiStack-root.property-filter {
  flex-wrap: wrap;
}

.price-range-btm {
  display: flex;
  justify-content: space-between;
  gap: 8px !important;
  margin-top: 15px;
}

.select2-container .select2-selection--multiple {
  min-height: 22px !important;
}

.select2-container--classic .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid rgba(25, 118, 210, 0.5) !important;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding: 3px 3px 0px 0px !important;
  min-height: 25px !important;
}

.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__display,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  font-size: 12px;
  padding-right: 5px;
}

.select2-container--open .select2-dropdown {
  /* top: 0; */
  top: 32px;
}

.ajax-hide {
  /* display: none; */
}
#dropdown_zip_code,
#dropdown_city,
#dropdown_state,
#dropdown_uses,
#dropdown_agents,
#dropdown_neighbourhoods,
#dropdown_vented {
  display: none;
}
#filter-wrapper .Filterform > .MuiBox-root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* height: calc(100vh - 60px); */
  gap: 5px;
  justify-content: space-around;
}

.Filterform button {
  margin: 0 !important;
}

.Filterform label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: block;
  margin: 8px 0 3px 0;
  font-size: 12px;
  color: var(--colorblack);
}

.Filterform input[type="text"] {
  padding: 0 8px;
  border: 1px solid rgba(25, 118, 210, 0.5) !important;
  border-radius: 3px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.slider-box input[type="text"] {
  background: none;
  border: none !important;
}

.select2.select2-container {
  width: 100% !important;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--disabled {
  font-size: 12px !important;
  padding: 2px 6px !important;
}
.select2-results__option--selectable {
  cursor: pointer;
  font-size: 12px;
  padding: 2px 6px !important;
}
.Filterform .multi-select > div {
  min-height: 25px;
}

.Filterform .multi-select > div > div {
  padding: 0;
}

.Filterform .multi-select > div > div > div {
  padding: 0 5px;
  margin: 0;
}

.Filterform [class*="-MultiValueGeneric2"] {
  padding: 1px;
}

.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  font-size: 0.6em !important;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 0 !important;
  margin-left: 5px !important;
  position: absolute;
  padding: 0;
  max-width: 100%;
  resize: none;
  height: 18px !important;
  vertical-align: bottom;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: none;
  word-break: keep-all;
}
.select2-container .select2-search--inline .select2-search__field textarea {
  margin-top: 0 !important;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  /* display: inline-block; */
  /* margin-left: 2px !important; */
  margin: 0 0 4px 4px !important;
  padding: 0px !important;
  display: inline-flex !important;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  font-size: 12px !important;
  line-height: 1.5 !important;
}
.Filterform .multi-select [class*="-indicatorContainer"] {
  padding: 0 8px;
}
.select2-container--default .select2-selection--multiple {
  padding: 0 0 3px 0 !important;
  line-height: 1;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  margin-top: 3px !important;
  margin-left: 3px !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  line-height: 1.2;
  padding-left: 0 !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  line-height: 1.2;
  font-size: 0.6em !important;
  border: none !important;
  position: relative !important;
}
.Filterform [class*="-MultiValueGeneric2"] {
  margin-top: 0;
  margin-bottom: 0;
}

.Filterform .multi-select [class*="-Input2"] {
  padding: 0;
  margin: 0;
}

.Filterform .MuiSlider-root {
  padding: 5px 0;
}

.right-content iframe {
  border: 0;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.ul-buttons li {
  background: var(--colorblue);
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--colorwhite);
  font-size: 14px;
}

.ul-content li {
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.ul-content li p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

ul.ul-features li span {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.type_for_lease_listing {
  background: #184e78 !important;
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--colorwhite);
  font-size: 14px !important;
  display: inline-block;
}
.type_for_sale_listing {
  background: #d8631c !important;
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--colorwhite);
  font-size: 14px !important;
  display: inline-block;
}
.property-list-wrapper {
  margin: 20px 0;
}

.property-filter-wrapper {
  flex-wrap: wrap;
}

.propertylisting-content {
  width: 26%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 10px;
}
.column-one .propertylisting-content {
  width: 100%;
}
.column-two .propertylisting-content {
  width: 45%;
}
.plc-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.propertylisting-content h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
}

.propertylisting-content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 13px !important;
  font-weight: 500 !important;
  margin: 0;
}

p.price {
  font-weight: 700;
  font-size: 14px;
}

.mobile-search-icon {
  display: none !important;
}

body.single-properties {
  font-family: "Poppins", sans-serif;
}

.trisate_cr_container {
  max-width: 1320px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.left-content {
  width: 26%;
  background: var(--bg-ligt);
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  height: 100vh;
  z-index: 9;
  padding: 5px;
}

.right-content {
  width: 74%;
  background: #fff;
}

div#search_count_area {
  background: var(--colorblue);
  padding: 5px;
  display: flex;
  margin-top: 10px;
  gap: 30px;
  color: var(--colorwhite);
}

div#search_count_area > div {
  width: 33.33%;
}
div#search_count_area > div.column-select-result-count {
  width: 66.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#search_count_area div#tristate-result-count {
  text-align: right;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}
#selectcolumn {
  margin-top: 0;
}
.tristate-column-select select {
  padding: 2px;
  border: 1px solid #aaa;
  width: auto;
  float: right;
  margin-top: 3px;
  border: none;
  appearance: none;
  background: url(../select-icon.png) no-repeat;
  text-indent: -9993em;
  /* text-align: right; */
  background-position: right center;
  padding-right: 25px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.tristate-column-select select:focus,
.tristate-column-select select:active,
.tristate-column-select select:focus-visible,
div#search_count_area input:focus,
div#search_count_area input:active,
div#search_count_area input:focus-visible,
#bodyContent .listing-more:focus,
#bodyContent .listing-more:active,
#bodyContent .listing-more:focus-visible,
#search-by-text-new,
#state-sorting {
  outline: none;
}
.tristate-column-select select option {
  background: var(--colorwhite);
}
div#search_count_area input {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding: 5px;
  line-height: 5px;
  position: relative;
}
.slider-box {
  width: 100%;
  padding: 0 10px;
}
.slider-box label {
  margin: 0 0 5px 0;
}
.range-min-max input[type="text"] {
  border: 1px solid #aaa !important;
  padding: 5px;
  background: none;
  width: 40%;
  max-height: 18px;
  text-align: center;
  font-size: 12px;
}
.desc-less {
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--colorblue);
  border-radius: 5px;
  display: inline-block;
  word-break: break-word;
}
.desc-more {
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--colorblue);
  border-radius: 3px;
  display: inline-block;
  word-break: break-word;
}
.key-show {
  background: var(--colorblue) !important;
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
}

.hide-now {
  background: var(--colorblue) !important;
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
}
.border-primary-small {
  border: 1px solid var(--colorblue) !important;
  background: none !important;
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  color: var(--colorblack);
  text-transform: uppercase;
}
.slider-box .range-min-max {
  display: flex;
  justify-content: space-between;
}

div#sale_lease {
  margin: 0 0 0 0;
}
div#for_sale {
  margin: 0 0 25px 0;
}
div#for_lease {
  margin: 0 0 25px 0;
}
div#_gsheet_listing_type {
  margin-top: 10px;
}

label,
input {
  border: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

input {
  width: 70%;
}

.slider {
  margin: 0;
}

body.single-properties .tristate_cr_wrapper {
  margin-top: 90px;
}

.tristate_cr_d-flex {
  display: flex;
  gap: 25px;
}

.text-right {
  text-align: right;
}

.tristate_cr_header {
  margin: 1rem 0;
}

.tristate_cr_header h1,
.tristate_cr_header h2.h1 {
  color: var(--colorblack);
  font-family: "Poppins", sans-serif;
  font-size: 28px !important;
  font-weight: 600;
}

.tristate_cr_header h3 {
  color: var(--colorblack);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.tristate_cr_col_8 {
  width: 60%;
}

.tristate_cr_col_4 {
  width: 40%;
}

#tcr_tab1 ul {
  list-style: disc;
  line-height: 1.5;
  padding-left: 25px;
  margin-top: 20px;
  display: block;
}

#tcr_tab1 .tcr_property_form ul {
  list-style: none !important;
  padding-left: 0;
  line-height: 1.5;
}

ul.tcr_tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
}

ul.tcr_tabs::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--off-black-v2);
  height: 3px;
  width: 100%;
}

ul.tcr_tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 5px 45px;
  line-height: 31px;
  color: var(--off-black-v2);
  overflow: hidden;
  position: relative;
  z-index: 99;
  font-family: "Poppins", sans-serif;
}

ul.tcr_tabs li:hover {
  color: #8c8c8c;
  border-bottom: 3px solid #8c8c8c;
}

ul.tcr_tabs li.active {
  background-color: #fff;
  color: #8c8c8c;
  border-bottom: 3px solid #8c8c8c;
  display: block;
}

.tcr_tab_container {
  border-top: none;
  clear: both;
  width: 100%;
  background: #fff;
  overflow: auto;
}

.tcr_tab_content {
  padding: 20px 0;
  display: none;
}

.tab_drawer_heading {
  display: none;
}

.gallery {
  width: 100%;
  position: relative;
}

.gallery-slider,
.gallery-slider1 {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.gallery-slider .swiper-wrapper,
.gallery-slider1 .swiper-wrapper {
  height: auto;
}

.swiper-wrapper {
  height: auto !important;
}

.gallery-slider .swiper-slide,
.gallery-slider1 .swiper-slide,
.tcr_tab_wrapper .mySwiper {
  width: auto;
  height: 400px;
}

.gallery-slider .swiper-slide img,
.gallery-slider1 .swiper-slide img,
.tcr_tab_wrapper .mySwiper img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.gallery-thumbs,
.gallery-thumbs1 {
  width: 95%;
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
}
.tcr_tab_wrapper .mySwiper2 {
  margin-top: 10px;
}
.gallery-thumbs .swiper-slide,
.gallery-thumbs1 .swiper-slide,
.tcr_tab_wrapper .mySwiper2 swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  opacity: 0.5;
}
.tcr_tab_wrapper .mySwiper2 swiper-slide img {
  width: 190px;
  height: 100px;
  object-fit: cover;
}
.gallery-thumbs .swiper-slide-active,
.gallery-thumbs1 .swiper-slide-active,
.tcr_tab_wrapper .mySwiper2 swiper-slide.swiper-slide-active {
  opacity: 1;
}

.gallery-thumbs .swiper-slide img,
.gallery-thumbs1 .swiper-slide img {
  width: auto;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  top: 90% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 800;
  color: var(--off-black);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -6px !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -6px !important;
}

.gallery-thumbs3 .swiper-wrapper1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-thumbs3 .swiper-wrapper1 .swiper-slide {
  width: 32%;
}
.swiper-zoom-container {
  height: 80vh !important;
}
.gallery-thumbs3 .swiper-wrapper1 .swiper-slide img {
  width: 400px;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
}

.tcr_tab_wrapper h2,
.tcr_content_wrapper h2 {
  color: var(--colorblue);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.tcr_socialshare {
  margin: 20px 0;
}

.tcr_tab_wrapper a {
  text-decoration: none;
}

.tcr_content_wrapper {
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}

.tcr_content_wrapper table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}

.tcr_content_wrapper table tbody,
.tcr_content_wrapper table td,
.tcr_content_wrapper table tfoot,
.tcr_content_wrapper table th,
.tcr_content_wrapper table thead,
.tcr_content_wrapper table tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.tcr_content_wrapper table tr td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  background: none !important;
}

.tcr_content_wrapper table tr {
  border-bottom: 1px solid #dee2e6;
  display: block;
}

.tcr_content_wrapper table tr td:first-child {
  font-weight: bold;
  min-width: 180px;
}

.tcr_content_wrapper table.documents-table tr {
  display: table-row;
}

.tcr_content_wrapper table.documents-table tr td:first-child i {
  font-size: 25px;
  font-weight: bold;
}

.tcr_content_wrapper table.documents-table tr td a {
  text-decoration: none;
}

.spaces-table th,
.spaces-table td {
  width: 20%;
  text-align: left;
  padding: 15px;
  font-size: 14.4px;
}

.spaces-table h5 {
  padding: 0 15px;
}

table.spaces-table tbody > tr:nth-child(odd) > th {
  background: none;
}

.spaces-table th {
  font-size: 14.4px;
}

.tcr_content_wrapper table tr.spaces-child-content {
  display: none;
}

.tcr_content_wrapper table tr.spaces-child-content.spacechildshow {
  display: block;
}

.tcr_content_wrapper table.table {
  padding: 20px 40px;
}

.tcr_content_wrapper table.table tr td:first-child {
  font-size: 14.4px;
  min-width: 250px;
}

.tcr_content_wrapper table.table td {
  padding: 15px;
  font-weight: normal;
}

.decmographics-table {
  border: none;
}

.demographics-table td,
.demographics-table th {
  border: none !important;
  text-align: left;
  background: none !important;
}

.demographics-table tr {
  border-bottom: 1px solid #dee2e6;
}

.right-header {
  background-color: var(--colorblue);
  padding: 10px 20px;
  margin: 0 0 20px 0;
}

.right-header a {
  color: var(--bg-ligt);
}

.right-header h2 {
  margin: 0;
  color: var(--bg-ligt);
}

.tcr_members_wrapper {
  margin: 15px 0;
}

.tcr_member_thumb {
  width: 75px;
  height: 75px;
  background-size: contain;
  border-radius: 50%;
  overflow: hidden;
}

.tcr_member_thumb img {
  max-width: 100%;
}

.tcr_members_details {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.tcr_members_details a {
  color: var(--colorblue);
  font-size: 12px;
}

.tcr_members_details > div {
  line-height: 1.5;
}

.tcr_members_details h4 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
}

.tcr_members_details h5 {
  margin: 0;
  font-size: 0.85rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.heateor_sss_sharing_ul a {
  margin: 7px !important;
}

.heateor_sss_sharing_ul span.heateor_sss_svg {
  border-radius: 5px !important;
  background-color: var(--colorblue) !important;
}

.tcr_property_form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tcr_property_form ul li {
  width: 100%;
}

ul.ul-disc {
  list-style: disc;
  line-height: 1;
  padding-left: 25px;
  margin-top: 20px;
  display: block;
}

.tcr_property_form label {
  font-size: 11px;
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.tcr_property_form p {
  margin: 10px 0;
}

.tcr_property_form input,
.tcr_property_form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tcr_property_form textarea {
  max-height: 100px;
}

.checkbox-wrapper {
  margin-bottom: 8px;
}

.checkbox-wrapper > div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.checkbox-wrapper > div > label {
  margin-bottom: 0;
  width: auto;
  display: inline-block;
}

.checkbox-wrapper > div > input {
  width: auto;
}

.checkbox-wrapper > div > input[type="checkbox"] {
  -ms-transform: scale(1.3);
  /* IE */
  -moz-transform: scale(1.3);
  /* FF */
  -webkit-transform: scale(1.3);
  /* Safari and Chrome */
  -o-transform: scale(1.3);
  /* Opera */
  transform: scale(1.3);
  padding: 10px;
}

.tcr_property_form li.terms-use p a {
  font-size: 12px;
  color: var(--colorblue);
}

.tcr_property_form input[type="submit"] {
  background-color: #1671ad !important;
  border: 1px solid #1671ad;
  color: var(--colorwhite);
  width: auto;
}

.ui-widget-header {
  background: var(--colorblue) !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #a8ccef !important;
  border-radius: 50%;
  border: 3px solid #eef5fd;
  top: -8px;
}

.ui-slider-horizontal {
  height: 0.3em !important;
  border: none !important;
  background: #cacaca;
  top: 10px;
}

.ui-slider-horizontal .ui-slider-range {
  height: 100%;
}

.price-range-btm .MuiButton-colorPrimary,
.MuiButton-colorPrimary,
#submit_map_layer,
a.button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 12px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: rgb(25, 118, 210);
  width: auto;
}

button#save_map_layer {
  background: var(--colorblue) !important;
  color: #fff;
  padding: 5px 15px;
  width: 100%;
}

a.button {
  width: auto;
}

a.button:hover {
  color: #fff;
  background-color: #c36;
  text-decoration: none;
}

.price-range-btm .MuiButton-colorPrimary.color-white {
  border: none;
}

#menu-btn {
  display: none;
}
#layers-link-button:hover {
  background: var(--coloryellow);
  color: var(--colorwhite);
  border: 1px solid transparent;
}
/* Popup */
#tcr-popup-wrapper {
  display: none;
}

.tcr-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: none;
  pointer-events: auto;
}

.tcr-popup-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  background-color: #fff;
  padding: 0;
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.popup-open {
  overflow: hidden;
}

.popupshown {
  height: 100vh;
  overflow: hidden;
}

#tcr-popup-close-button {
  position: absolute;
  right: 10px;
  top: 18px;
  background: #c36 !important;
  border: none;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px !important;
  text-align: center;
  line-height: 24px;
  padding: 0;
  display: block;
}

.tcr-popupheader {
  clear: both;
  background: #fff;
  padding: 0;
  overflow: hidden;
}

.tcr-popupheader-left {
  padding: 24px 0 24px 24px;
}

.tcr-popupheader-left img {
  max-width: 100%;
  width: 40px;
}

.tcr-popupheader h2 {
  margin: 0;
}

.tcr-popupheader-left {
  width: 48%;
  float: left;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.tcr-popupheader-right {
  width: 40%;
  float: right;
  text-align: right;
  margin-right: 30px;
}

.tcr-popup-content {
  clear: both;
  background: #f6f6f6;
  text-align: left;
  padding: 30px 20px;
}

.tcr-popup-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.tcr-popup-content ul li {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: left;
}

.tcr-button {
  width: 100%;
  display: block;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  border: none;
  margin-top: 24px;
}

.tcr-btn-success {
  background: #50c594;
}

.tcr-btn-failed {
  background: #f00;
}

#content div.listings .listing,
.div.listings .listing {
  font-family: "Poppins", sans-serif;
}

/* Range slider end */
/* hide demographics tab from single properties page */
li.tab_last {
  display: none;
}

/* Results Counts */
.price-range-btm .MuiBox-root {
  display: contents;
}

.price-range-btm {
  display: flex;
  justify-content: space-between;
  gap: 8px !important;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ------------Map Popups -------------- */
#container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

#container h1.page-title {
  font-size: 3rem !important;
  margin-bottom: 1.5rem !important;
  font-family: "Poppins", sans-serif;
}

#container p {
  margin: 1em 0;
}

#map {
  flex: 1;
}

div.layers {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.layers input {
  float: left;
  width: auto;
  margin: 2px 5px 0 0;
  line-height: 20px;
}

label.layer {
  cursor: pointer;
  color: #333;
}

section#content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 40px 0;
}

div.listings {
  flex: 0 1 240px;
  height: 600px;
  overflow-y: scroll;
}

div.listings .listing {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ccc;
}

div.listings .listing + .listing {
  margin-top: 10px;
}

div.listings .listing:hover {
  background-color: #f5f5f5;
}

div.listings .listing.active {
  background-color: #154d80;
  color: #fff;
}

div.listings .listing--title {
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.2;
  margin-bottom: 5px;
}
div.listings .listing.active {
  background-color: #3974a9 !important;
  color: #fff;
}
div.listings .listing--subtitle {
  font-size: 16px;
}

div.listings .listing--meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.gm-style-iw-chr {
  position: absolute;
  right: 0;
  top: 0;
}
.gm-style .gm-style-iw-d {
  padding-top: 12px;
}
.gm-style-iw-chr .gm-ui-hover-effect {
width: 24px !important;
height: 24px !important;
}
.gm-style-iw-chr .gm-ui-hover-effect  span {
  width: 14px !important;
  height: 14px !important;
  margin: 5px !important;
}
div.listings .listing--type {
}

div.listings .listing--price {
}
.gm-style-iw-ch {
  display: none !important;
}
.firstHeading {
  font-size: 16px !important;
  margin-bottom: 5px;
  line-height: 1.2;
  margin-top: 0;
  font-weight: 600;
  color: var(--colorblue);
  font-family: "Poppins", sans-serif;
}
.search-results-map .firstHeading {
  font-size: 25px !important;
  font-weight: bold;
}
.secondHeading {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.lease-bgopacity {
  background-color: rgba(24, 78, 120, 0.7) !important;
}
.sale-bgopacity {
  background-color: rgba(204, 104, 73, 0.7) !important;
}
.thirdHeading {
  margin-bottom: 10px;
  line-height: 1.2;
  position: absolute;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  padding: 5px 8px;
}

#bodyContent {
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  gap: 5px;
}

#bodyContent img {
  width: 160px;
  height: 125px;
  max-width: 200px;
  max-height: 300px;
  margin: 0 1rem 0 0;
  float: left;
  object-fit: cover;
}

#content-right h2 {
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #848484;
  margin: 0;
}

#bodyContent .listing-more {
  display: inline-block;
  padding: 8px 12px;
  font-weight: 500;
  color: #7b7b81;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  position: relative;
}

#bodyContent .listing-more::after {
  position: absolute;
  content: ">";
  left: auto;
  top: auto;
  margin-left: 5px;
}

#bodyContent .listing-more:focus,
#bodyContent .listing-more:hover {
  border: none;
}

#content hr {
  margin: 1em 0;
}
#content-bottom {
  display: flex;
  width: 100%;
  align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#content-bottom p {
  margin-bottom: 0;
}
#content-bottom span {
  min-width: 25px;
  text-align: center;
}

/* section.elementor-element-44b80298 {
  position: static !important;
} */

section.elementor-element-44b80298 + section.elementor-element-44b80298 {
  display: none;
}

.fancybox__container [type="button"]:focus,
.fancybox__container [type="button"]:hover,
.fancybox__container [type="submit"]:focus,
.fancybox__container [type="submit"]:hover,
.fancybox__container button:focus,
button:hover {
  background-color: var(--colorblue);
}

/* State page css */
.ts-state-page.filter-wrapper {
  margin-top: 20px !important;
  max-width: 100% !important;
}
.ts-state-page.filter-wrapper .Filterform label {
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #6c757d;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  font-weight: normal;
}
/* .page-id-84965 .select2-container--open .select2-dropdown , .page-id-84958 .select2-container--open .select2-dropdown { 
  top: 0 !important;
} */
.ts-state-page.filter-wrapper .Filterform input,
.ts-state-page.filter-wrapper
  .select2-container--default
  .select2-selection--multiple {
  border-radius: 0;
  border: 1px solid #ced4da !important;
}
.ts-state-page.filter-wrapper .MuiBox-root,
#filter-wrapper.ts-state-page.filter-wrapper .MuiBox-root .property-filter {
  flex-direction: column;
  row-gap: 10px;
}
.ts-state-page.filter-wrapper .MuiBox-root .left-content {
  top: 15px !important;
  height: auto;
}
.ts-state-page.filter-wrapper .MuiBox-root .left-content,
.ts-state-page.filter-wrapper .MuiBox-root .right-content,
.ts-state-page div#search_count_area > div.column-select-result-count {
  width: 100%;
  position: relative;
}
.ts-state-page.filter-wrapper .MuiBox-root #sale_lease,
.ts-state-page.filter-wrapper .MuiBox-root .slider-box,
.ts-state-page.filter-wrapper .MuiBox-root #container_neighborhoods,
.ts-state-page.filter-wrapper .MuiBox-root #container_zipcodes,
.ts-state-page.filter-wrapper .MuiBox-root .search-by-text-new,
.ts-state-page.filter-wrapper .MuiBox-root .css-ajk2hm,
.ts-state-page.filter-wrapper .MuiBox-root .plc-bottom,
.ts-state-page.filter-wrapper .MuiBox-root #save_map_layer,
.ts-state-page.filter-wrapper .tristate-column-select,
.ts-state-page.filter-wrapper #layers-link-button{
  display: none !important;
}

.ts-state-page.filter-wrapper #state-sorting {
  padding: 2px;
  position: absolute;
  right: 0;
  border: 1px solid #aaa;
  width: auto;
  float: right;
  margin-top: 3px;
  border: none;
  appearance: none;
  background: url(../sort-icon.png) no-repeat;
  text-indent: -9993em;
  /* text-align: right; */
  background-position: right center;
  padding-right: 25px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.ts-state-page.filter-wrapper .column-select-result-count {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.ts-state-page.filter-wrapper div#search_count_area div#tristate-result-count {
  text-align: left;
}
.ts-state-page.filter-wrapper div#_gsheet_listing_type {
  margin-top: 0;
}
.ts-state-page.filter-wrapper .checkbox-wrapper > div {
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.ts-state-page.filter-wrapper .checkbox-wrapper > div > input {
  margin-left: 3px;
}
.ts-state-page.filter-wrapper .MuiBox-root .state-page-keyword {
  display: block !important;
}
.ts-state-page.filter-wrapper .MuiBox-root .right-map {
  float: right;
  width: 70%;
}
.ts-state-page.filter-wrapper .property-list-wrapper {
  float: left;
  width: 30%;
  top: 30px;
  height: 100%;
  padding: 0 20px;
  overflow-y: scroll;
  position: absolute;
  padding-bottom: 100px;
  padding-top: 10px;
  background: #fbfbfb;
}
.ts-state-page.filter-wrapper .MuiBox-root .propertylisting-content {
  width: 100%;
}
.ts-state-page.filter-wrapper .MuiBox-root .propertylisting-content a {
  text-decoration: none;
  width: 30%;
}
.ts-state-page.filter-wrapper .MuiBox-root .propertylisting-content {
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.ts-state-page.filter-wrapper .MuiBox-root .lisiting-feature-img {
  display: block !important;
  float: left;
  width: 100%;
  line-height: 0;
  position: relative;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  .lisiting-feature-img
  .listing-type-state {
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 0;
  padding: 12px 6px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.ts-state-page.filter-wrapper .MuiBox-root .lisiting-feature-img .state-sale {
  background-color: rgba(204, 104, 73, 0.7);
}
.ts-state-page.filter-wrapper .MuiBox-root .lisiting-feature-img .state-lease {
  background-color: rgba(24, 78, 120, 0.7);
}
.ts-state-page.filter-wrapper .MuiBox-root .lisiting-feature-img img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  max-width: -webkit-fill-available;
}
.ts-state-page.filter-wrapper .MuiBox-root .plc-top {
  padding: 10px;
  gap: 0;
  width: 70%;
}
.ts-state-page.filter-wrapper .MuiBox-root .plc-top h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #1671ad !important;
  line-height: 1.5;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  .plc-top
  h2
  a.MuiButton-colorPrimary {
  background: none !important;
  color: #1671ad !important;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0 !important;
}
.ts-state-page.filter-wrapper .MuiBox-root .plc-top h4 {
  line-height: 1.5;
}
.ts-state-page.filter-wrapper .MuiBox-root div#search_count_area {
  margin-top: 5px;
  padding: 5px 20px;
}
.ts-state-page.filter-wrapper .MuiBox-root #select-container {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-right: 10px;
  float: left;
  width: 85%;
}
.ts-state-page.filter-wrapper .MuiBox-root #select-container > div {
  width: 15%;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  #select-container
  > div.state-page-keyword {
  width: 50%;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  .left-content
  .Filterform
  > .MuiBox-root {
  flex-direction: row !important;
}
.ts-state-page.filter-wrapper .MuiBox-root .price-range-btm {
  width: 18%;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  .price-range-btm
  .MuiButton-colorPrimary,
.ts-state-page.filter-wrapper .MuiBox-root .MuiButton-colorPrimary,
.ts-state-page.filter-wrapper .MuiBox-root #submit_map_layer,
a.button {
  background-color: #1671ad !important;
  color: #fff !important;
}
.ts-state-page.filter-wrapper .MuiBox-root #state-more-filter {
  padding-left: 35px;
}
.ts-state-page.filter-wrapper .MuiBox-root #state-more-filter:before {
  font-family: "Font Awesome 6 Free";
  content: "\f1de";
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 12px;
  color: #fff;
  font-weight: 900;
}
.ts-state-page.filter-wrapper .MuiBox-root #selectcolumn {
  display: none;
}
.ts-state-page.filter-wrapper .MuiBox-root .price-range-btm {
  margin-top: 24px;
  row-gap: 0 !important;
}
.ts-state-page.filter-wrapper #state-layout-head .lisiitng__title:first-child {
  display: block !important;
}
.filter-wrapper .lisiitng__title:last-child {
  display: none !important;
}
#more-filter-content {
  display: none;
  background: #fff;
  display: block;
  width: 100%;
  position: absolute;
  top: 68px;
  min-height: 50px;
  left: 0;
  padding: 15px 10px;
}
.ts-state-page.filter-wrapper
  .MuiBox-root
  #more-filter-content
  #container_neighborhoods,
.ts-state-page.filter-wrapper .MuiBox-root #more-filter-content #sale_lease,
.ts-state-page.filter-wrapper .MuiBox-root #more-filter-content .slider-box {
  display: block !important;
}
.ts-state-page.filter-wrapper .slider-box .range-min-max {
  margin-bottom: 10px;
}
#more-filter-content.ts-adv-show {
  display: flex !important;
  gap: 50px;
  padding-right: 15%;
  box-shadow: 0px 3px 4px 0 #cdcdcd;
}
@media screen and (max-width: 480px) {
  ul.tcr_tabs {
    display: none;
  }

  .tab_drawer_heading {
    background-color: var(--colorblue);
    color: #fff;
    border-top: 1px solid rgb(161, 189, 250);
    margin: 0;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .d_active {
    background-color: #666;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .price-range-btm {
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body.single-properties .tristate_cr_wrapper {
    margin-top: 0;
  }

  .left-content {
    display: none;
  }
  .ts-state-page.filter-wrapper .MuiBox-root .left-content {
    display: block;
  }
  #filter-wrapper > .MuiBox-root {
    flex-direction: column;
  }

  .left-content.open {
    display: block;
    width: 100% !important;
    padding: 0 10px;
  }

  .haeder_left.text-right {
    text-align: left;
  }

  .right-content {
    width: 100%;
    padding: 20px;
    z-index: 9;
  }

  .tcr_tab_content {
    padding: 20px;
  }

  .property-filter {
    gap: 8px;
    display: flex;
    flex-direction: column !important;
  }

  .mobile-search-icon {
    display: block !important;
    min-width: auto !important;
    position: fixed !important;
    z-index: 99999;
    right: 0;
    top: 50px;
  }

  .mobile-search-icon .MuiButton-icon {
    margin-left: 0;
    line-height: 1;
  }

  .mobile-drawer .MuiPaper-root,
  .propertylisting-content {
    width: 100%;
  }

  #menu-btn {
    display: block;
    position: fixed;
    top: 135px;
    right: 0;
    padding: 0 10px 0px 10px;
    border: 1px solid transparent;
    font-weight: 300;
    user-select: none;
    transition: border-color 0.3s;
    transform: translateY(-50%);
    background: var(--colorblue);
    line-height: 1.2;
    z-index: 99999;
    font-size: 30px;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    color: var(--bg-ligt);
  }

  #menu-btn:hover {
    background: var(--colorblue);
  }

  #menu-btn i {
    color: var(--bg-ligt);
  }

  #menu__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    z-index: 9999;
    background-color: #152a38;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: transform 0.5s;
  }

  div#filter-wrapper {
    margin-top: 0;
  }

  .tristate_cr_d-flex {
    display: flex;
    gap: 25px;
    flex-direction: column;
  }

  .checkbox-wrapper {
    flex-direction: row;
  }

  .tcr_members_wrapper {
    flex-direction: row;
  }

  .tristate_cr_header {
    padding: 0 20px;
  }

  .tristate_cr_col_8 {
    width: 100%;
  }

  .tristate_cr_col_4 {
    width: 100%;
  }

  .gallery-thumbs3 .swiper-wrapper1 .swiper-slide {
    width: 47%;
  }

  .gallery-thumbs3 .swiper-wrapper1 .swiper-slide img {
    width: 350px;
    height: 150px;
  }
  .tcr_tab_wrapper .mySwiper {
    width: 100%;
    height: 260px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  .tcr_tab_wrapper .mySwiper2 swiper-slide {
    width: 90px;
    height: 60px;
  }
  .tcr-popup-wrapper {
    position: absolute;
    width: 400px;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    transform: none;
    margin: auto;
  }

  .elementor-kit-80492 h1 {
    font-size: 22px;
  }
  .ts-state-page.filter-wrapper .property-list-wrapper {
    position: relative;
    width: 100%;
    top: 0;
  }
  .ts-state-page.filter-wrapper .MuiBox-root .price-range-btm {
    width: 40%;
  }
  .ts-state-page.filter-wrapper .MuiBox-root #state-more-filter {
    font-size: 0;
    max-width: 35px !important;
  }
  .ts-state-page.filter-wrapper .MuiBox-root .state-page-keyword {
    width: 100% !important;
  }
  .ts-state-page.filter-wrapper .MuiBox-root {
    row-gap: 0;
  }
  .ts-state-page.filter-wrapper .MuiBox-root .right-map,
  .ts-state-page.filter-wrapper .MuiBox-root #container_agents,
  .ts-state-page.filter-wrapper .MuiBox-root #container_uses,
  .ts-state-page.filter-wrapper .MuiBox-root #container_neighborhoods,
  .ts-state-page.filter-wrapper .MuiBox-root #container_zipcodes,
  .ts-state-page.filter-wrapper .MuiBox-root #container_cities,
  .ts-state-page.filter-wrapper .MuiBox-root #container_states,
  .ts-state-page.filter-wrapper .MuiBox-root #container_vented,
  .ts-state-page.filter-wrapper .MuiBox-root #menu-btn {
    display: none;
  }
}

.filter-search {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
body.single-properties_search #container a.button:hover {
  /* background: #c36 !important; */
  color: #fff;
}
